:root {
  --background: #0e0e0e;
  --primary-text-color: #ffffff;
  --secondary-text-color: #4b4b4b;
  --terciary-text-color: #000000;
  --bg-todo-primary: #202020;
  --bg-todo-secondary: #f8cd7a;
  --title-font-size: 3.6rem;
  --subtitle-font-size: 3.2rem;
  --text-font-size: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* display: flex; */
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* min-height: 100vh; */


}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* width: 100vw; */
  min-width: 300px;
  /* max-width: 550px; */
  background-color: var(--background);
  color: var(--primary-text-color);
}
